body { 
  background: radial-gradient(circle, rgba(0,0,0,0.1) 0%, rgb(72, 6, 123) 100%);
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

#todo-container {
  background: rgb(41, 33, 33);
  width: 400px;
  margin: 0 auto;
  border: 2px solid #100215;
  padding: 20px;
  color: white;
  border-radius: 15px;
  width: 10;
}

#input-box {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 16px;
}

#input-button {
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2e60ea;
  color: white;
}

#input-button:hover {
  background-color: #9eb7fd; 
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align: left;
}

li {
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-buttons {
  display: flex;
  gap: 5px;
}

.edit-btn, .delete-btn {
  cursor: pointer;
  border: none;
  padding: 5px;
  background: crimson;
  color: white;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
  border: 1px solid gray;
}